html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.HTML_lesson_banner {
    width: 100%;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    margin: 0px 0 0px 0;
    margin: 0 auto;
    background-color: rgb(43, 173, 199);
    border: 3px solid black;
}

th,
td,
caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}